.nav{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.btn{
    width: 120px;
    height: 70px;
    background: rgb(133, 133, 230);
    text-align: center;
    border-radius: 15px;
    color: white;

}
.btn:hover{
    background:rgb(94, 94, 228) ;
    transition: all 0.2s;
    scale: 1.1;
}